/* 
inspo from:  https://codepen.io/P1N2O/pen/pyBNzX  
basically took the above and adjusted colors and speed of transiiton
*/
body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 30s ease infinite;
	height: 100vh;
    overflow: hidden;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.sensor-value {
    background-color: rgba(0, 0, 0, 0.403) ;
}

.guage-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.guage-container > * {
    margin: 3rem;
    display: flex;
    flex-direction: column;
    width: 5rem;
    align-items: center;
    justify-content: center;
}

.speed-guage{
    margin: 10vw 30vw 10vw 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    font-size: 5vw;
}

.orbitron-font {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: bold;
}

p {
    display: block;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}